<nav style="background-color: #2471a3;"class="navbar navbar-light ">
    <span style="color: aliceblue;" class="navbar-brand mb-0 h1">DraminFlowers</span>
     <button type="button" class="btn btn-outline-light" (click)="doLogout()">
        Cerrar Sesión
     </button>
</nav>
<br>

<div  class="nav-side-menu">
    <br>
    <br>
    <br>
    <img  style="width: 50%; display:block;
    margin:auto;"src="assets/1.png" alt="">
    <br>
    <br>
     <div style="text-align:center; " [routerLink]="['/home']" ><h6> Bienvenido {{user.name}}</h6></div>
     
         <div class="menu-list"> 
             <br>
             <br>
             <hr>
             <li [routerLink]="['/home']" ><a [routerLink]="['/home']">Pedidos</a></li>
             <br>
             <li [routerLink]="['/comments']" class="active"><a [routerLink]="['/comments']" routerLinkActive="router-link-active" >Comentarios</a></li>
         </div>
</div>
        
      
      
<div id="main" class="container">
        
    <br>
    <br>
    <div  class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="card" style="width: 20rem;">
                <!-- <img class="card-img-top image" [src]="user.image" alt="Card image cap"> -->
                
                <div *ngIf='user.name == null' class="card-body">
                    <form [formGroup]="profileForm">
                        <div class="form-group">
                            <label>Ingresa el nombre de la floreria para empezar: </label>
                            <input type="text" formControlName="name" class="form-control" required>
                        </div>
                    </form>
                    <a (click)="save(profileForm.value)" class="btn btn-primary">Guardar</a>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="load">
        Cargando...
    </div>
    <h1 class="text-center">LISTA DE PEDIDOS</h1>
    <!--
    <table class="table table-hover" *ngIf="!load">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Usuario</th>
                <th scope="col">Fecha</th>
                <th scope="col">Telefono</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of myOrders">
                <th scope="row">{{order[0]}}</th>
                <td>{{order[1]}}</td>
                <td>{{order[4]}}</td>
                <td>{{order[7].cell}}</td>
                <td>
                    <a class="btn btn-primary btn-sm">Ver</a>
                </td>
                <td>
                    <a class="btn btn-primary btn-outline-success" *ngIf="!order[6].confirmFlower" (click)="orderAcepted(order[0],order[6], order[5].userId)">Aceptar</a>
                </td>
                <td>
                    <a class="btn btn-primary btn-sm btn-danger" *ngIf="!order[6].confirmFlower" (click)="orderRechazed(order[0], order[2])">Rechazar</a>
                </td>
                <td>
                    <a class="btn btn-primary btn-sm btn-danger" *ngIf="!order[6].delivered" (click)="orderDelivered(order[0],order[6], order[5].userId)">Notficar
  Entregado</a>
                </td>
                <td *ngIf="!order[10]">Esperando valoración del cliente</td>
                <td *ngIf="order[10]">Valoración del cliente: {{order[10]}} Estrellas</td>

            </tr>
        </tbody>
    </table>
    -->
    
</div>
<div id="main" class="container">
     <div class="row">
        <div>
                  <ul>
                      <li *ngFor="let order of myOrders">
                           <a   *ngIf="!order[6].delivered">
                               
                                 <h2 class="text-center">Evento</h2>
                                 <br>
                                 <p># {{order[0]}} </p>
                                 <p>Usuario {{order[1]}}</p>
                                 <p>Fecha {{order[4]}}</p>
                                 <p>Telefono: {{order[7].cell}}</p>
                                 
                                

                                <!-- <button class="btn btn-sm btn-outline-dark" data-toggle="modal" data-target="#exampleModal">Ver</button>-->
								        <form action="" method="post">
                                <p class="clasificacion">
                                <input id="radio1" type="radio" name="estrellas" value="5"><!--
                                 --><label for="radio1">&#9733;</label><!--
                                 --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                                 --><label for="radio2">&#9733;</label><!--
                                 --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                                 --><label for="radio3">&#9733;</label><!--
                                 --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                                 --><label for="radio4">&#9733;</label><!--
                                 --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                                 --><label for="radio5">&#9733;</label>
                                
              </p>
              
            </form>
                                 <button id="boton" class="btn btn-sm btn-outline-success" *ngIf="!order[6].confirmFlower" (click)="orderAcepted(order[0],order[6], order[5].userId)">Aceptar</button> 
                                 <button type="button" class="close" *ngIf="!order[6].confirmFlower" (click)="orderRechazed(order[0], order[2])" >Rechazar</button>
                                 
                                 <button id="boton" class="btn btn-primary btn-sm btn-danger text-center" *ngIf="!order[6].delivered" (click)="orderDelivered(order[0],order[6], order[5].userId)">Entregado</button>
                           </a>
                  
                      </li> 
                </ul>
          
          
          
        </div>
     </div>
</div>
<!-- Button trigger modal -->

      
     
      